  </body>
  <footer>
            <div class="icon-bar">
                <a href="https://instagram.com/danielzhao.ph" class="fa fa-instagram" target="_blank"></a>
                <a href="https://twitter.com/iamdanzhao" class="fa fa-twitter" target="_blank"></a>
                <a href="https://medium.com/@danielzhao" class="fa fa-medium" target="_blank"></a>
                <a href="https://linkedin.com/in/iamdanzhao" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/iamdanzhao" class="fa fa-github" target="_blank"></a>
            </div>
        </footer>
</html>
